.main {
  padding: 20px 20px 60px;
  max-width: 640px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
}

.form-styles {
  display: grid;
  grid-row-gap: 1em;
}
.label {
  color: #666666;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}
.input,
.button,
.textarea,
.error,
.success {
  margin: 0;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 0.5em;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 1rem;
  font-family: inherit;
  transition: all 0.2s ease;
}
.button,
.error,
.success {
  padding: 0.65em 1em;
  background: #0070f3;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}
.textarea {
  height: 4em;
  max-width: 622px;
}
.input:focus,
.textarea:focus,
.button:focus {
  outline: 0;
  border-color: #0070f3;
}
.button:hover {
  background: rgba(0, 118, 255, 0.8);
}
.button:focus {
  box-shadow: 0 0 0 2px rgba(0, 118, 255, 0.5);
}
.button:disabled {
  pointer-events: none;
  background: #999;
}
.error,
.success {
  background: #ee0000;
  color: #fff;
  margin-top: 16px;
  text-align: center;
}
.success {
  background: #7928ca;
}
@media screen and (max-width: 580px) {
  .main {
    font-size: 14px;
  }
}
@media screen and (max-width: 474px) {
  .main {
    font-size: 12px;
    padding: 12px;
  }
}
