.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Navbar
===============
*/
.navcontainer {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.navheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.navtoggle {
  font-size: 1.5rem;
  list-style-type: none;
  color: hsl(205, 78%, 60%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.navtoggle:hover {
  color: hsl(205, 86%, 17%);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: hsl(209, 34%, 30%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  background: hsl(210, 31%, 80%);
  color: hsl(205, 78%, 60%);
  padding-left: 1.5rem;
}
.socialicons {
  display: none;
}
.linkscontainer {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .navcenter {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .navheader {
    padding: 0;
  }
  .navtoggle {
    display: none;
  }
  .linkscontainer {
    height: auto !important;
  }
  .links {
    display: flex;
    list-style-type: none;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .socialicons {
    display: flex;
    list-style-type: none;
  }
  .socialicons a {
    margin: 0 0.5rem;
    color: hsl(205, 78%, 60%);
    transition: all 0.3s linear;
  }
  .socialicons a:hover {
    color: hsl(205, 90%, 76%);
  }
}
